
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
/library
/temp
/local
/profiles
/native
/build/wx/wechatgame/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
